@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: 'Inter', sans-serif;
    /* background-color: #f8f9fb; */
    overflow-y: scroll;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
.logomarca{
    width: 8vh;
}
ul.nav a.nav-link {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
}
.nav-item:hover .nav-link {
    color: #fff;
}
.nav-item.active {
    border-bottom: 2px solid #ff8800;
}

.contact-info{
    color: #ff8800;
    font-size: 50px;
    align-content: center;
}
.contact-form{
    color: #ff8800;
}
h2{
    font-weight: bold;
}
button{
    color: #171717;   
}
.msg{
    text-align: center;
}

.jumbotron {
    background-size: cover;
    color: #fff;
    size: 25px;
}
.service-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}
.faq-card {
    margin: 10px;
}

.modal-lg-custom{
    width: 50vh;
}
.card-img-top {
    margin-bottom: 15px;
}

.botões{
    color: #ff8800;
    size: 23px;
}

/* .cor-light{
    color: #f8f9fb;
} */


